.app {
  display: flex;
  gap: 50px;
  align-items: stretch;
  /* justify-content: center; */
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.app .categories {
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
  padding: 20px;
}
