.add-form {
  background-color: var(--bg1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.row1 {
  display: flex;
  gap: 10px;
}

.category-button.selected {
  background-color: var(--color);
  color: var(--bg0);
}

.category-button {
  border: 1px solid var(--color);
  border-radius: 3px;
  padding: 5px 10px;
  color: var(--color);
}

.category-selector {
  display: flex;
  gap: 10px;
}

.name {
  width: 10em;
}

.cost {
  width: 4em;
}

.add-form input {
  border-radius: 5px;
  border: 1px solid var(--gray0);
  font-size: 20px;
  padding: 5px;
  background-color: var(--bg-dim);
  color: var(--fg);
}

.add-form input:focus {
  border: 1px solid var(--aqua);
  outline: none;
}

.submit {
  padding: 5px;
  border: none;
  color: var(--fg);
  border-radius: 5px;
  font-size: 1.1em;
}

.submit:focus {
  border: none;
}
