.card {
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #343f44;
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.category {
  width: 5px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.cost {
  font-size: 24px;
  text-align: right;
  align-self: center;
  padding-right: 10px;
}

.card > div:nth-child(2) {
  padding: 5px;
  flex-grow: 1;
  text-align: left;
}
