.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid grey;
  align-items: stretch;
  padding: 10px;
  gap: 10px;
}

.scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.scroll {
  overflow-y: auto;
  scrollbar-width: none;
}
